#inspector {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    outline: 2px solid #dbdbdb;

    box-sizing: border-box;
    padding: 3px 3px 3px 3px;

    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;

    height: 100vh;
    top: 0;
    right: 0;

    min-width: 250px;
    width: 250px;
}

#inspectorResize {
    background-color: transparent;

    width: 10px;
    height: 100%;

    right: 245px;
    position: fixed;
    cursor: ew-resize;
}

/* COMPONENT BOXES */

.component {
    overflow-y: hidden;
    overflow-x: scroll;
    box-sizing: border-box;
    border: 2px solid #dbdbdb;

    font-family: monospace;
    color: #dbdbdb;

    line-height: 25px;
    padding-left: 4px;
    margin-bottom: 4px;

    width: 100%;
    min-height: 25px;
    height: auto;
    background-color: #1d1d1d;
}

/* VARIABLE LABELS */

.compVar {
    display: flex;
    box-sizing: border-box;
    border: 2px solid #dbdbdb;

    line-height: 25px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 4px;

    width: calc(auto - 4px);
    height: 25px;
    background-color: #1d1d1d;
}

/* SLIDER */

.compSlider {
    accent-color: #dbdbdb;
    margin: auto;
    width: auto;
}

.sliderTextBox {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    color: white;

    height: 100%;
    border: 2px solid #2d2d2d;
    background-color: #1d1d1d;
}

.sliderTextBox:focus {
    background-color: #2d2d2d;
    outline: none;
}

/* Track */

.compSlider::-webkit-slider-runnable-track {
    background-color: #dbdbdb;
    height: 4px;

}

.compSlider::-moz-range-track {
    background-color: #dbdbdb;
    height: 4px;
}

/* Thumb */
.compSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #dbdbdb;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -6px;
}

.compSlider::-moz-range-thumb {
    background-color: #dbdbdb;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
}